<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8" />
    <title th:text="#{head.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   <!-- <link rel="shortcut icon" th:href="@{/static/img/favicon.gif}" type="image/gif" />-->

    <link rel="stylesheet" th:href="@{/resources/static/bootstrap/css/bootstrap.css}" />
    <!--<link rel="stylesheet" th:href="@{/resources/css/jquery.ui.all.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/jquery.ui.customer.css}" />-->
    <script th:src="@{/resources/static/bootstrap/js/bootstrap.js}"></script>
</head>
</html>