<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<body style="font-size: 12px;">
<section layout:fragment="content">
    <span>仓单详情</span>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>asd</th>
            <th>asd</th>
            <th>asd</th>
            <th>asd</th>
            <th>asd</th>
        </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
        <tr>
            <td>ssss</td>
            <td>ssss</td>
            <td>ssss</td>
            <td>ssss</td>
            <td>ssss</td>
        </tr>
        </tbody>

    </table>
</section>
</body>
</html>