<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<aside class="aside" th:fragment="left">
    <div id="sidebar">
        <ul>
            <li>
                <a>仓单管理</a>
                <ul>
                    <li><a href="#" th:href="@{/receipt/list}">我的仓单</a></li>
                </ul>
            </li>
            <li>
                <a>商品管理</a>
                <ul>
                    <li><a th:href="@{/shop/list}">我的商品</a></li>
                </ul>
            </li>
            <li>
                <a>订单管理</a>
                <ul>
                    <li><a th:href="@{/order/list}">我的订单</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
</body>
</html>