<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<aside class="aside" th:fragment="left">
    <div id="sidebar">
        <ul>
            <li>
                <a><!--<img src="" alt="Receipt Manager"/>-->仓单管理</a>
                <ul>
                    <li><a href="../receipt/series.html" th:href="@{/receipt/myreceipt}" target="right">我的仓单</a></li>
                </ul>
            </li>
            <li>
                <a><!--<img src="" alt="Shop Manager"/>-->商品管理</a>
                <ul>
                    <li><a th:href="@{receipt/series.html}" target="right">我的商品</a></li>
                </ul>
            </li>
            <li>
                <a><!--<img src="" alt="Business Manager"/>-->交易管理</a>
                <ul>
                    <li><a th:href="@{receipt/series.html}" target="right">我的交易</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
</body>
</html>