
.header{
    background: url('/images/head-bg.png');
    height: 42px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 999;
}
.title{
    padding-top: 11px;
    padding-left: 25px;
}
.footer{
    font-size: 12px;
    margin: 0 43%;
    width: 500px;
    height: 20px;
    /*bottom: 10px;*/
    /*position: fixed;*/
    /*border: 1px solid #0062cc;*/
    /*z-index: -1;*/
}