.header{
    background: url('/images/head-bg.png');
    height: 42px;
}
.title{
    padding-top: 11px;
    padding-left: 25px;
}
.footer{
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    padding-left: 40%;
}