<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:fragment="htmlhead">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="icon" href="/images/icon.ico" type="image/x-icon"/>
    <title>汽车商城后台管理</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.css" th:href="@{/css/bootstrap/bootstrap-theme.css}"/>
    <link rel="stylesheet" href="/css/home.css" th:href="@{/css/home.css}"/>
    <script th:src="@{/js/jquery/jquery-3.0.0.min.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
</head>
<body style="font-size: 12px;">
<div th:fragment="navbar" class="wrapper" role="navigation">
    <div th:replace="fragments/header :: header">Header</div>
    <div th:replace="fragments/left :: left">Left</div>
    <div layout:fragment="content" id="content"></div>
    <div style="margin-top: 10px" th:replace="fragments/footer :: footer">Footer</div>
</div>
</body>
</html>