<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>汽车商城-登录页面</title>
    <link href="css/login/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="js/login/login.js"></script>
</head>
<body>
<div class="top">
    <!--  <ul>
        <li><a href="#none" class="hover">系统主页</a></li>
        <li><a href="#none">账号注册</a></li>
        <li><a href="#none">合格成绩公示</a></li>
        <li><a href="#none">报名流程</a></li>
        <li><a href="#none">常见问题</a></li>
        <li><a href="#none">返回首页</a></li>
      </ul>-->
</div>

<div class="main">
    <div class="denglu">
        <!--<div class="text" style="font-size:13px;"><strong></strong><br />
          一、考生登录本系统可查看考试结果，还可查看并保存电子合格证书。<br />
          二、国网系统外考生可申请邮寄合格证书，付款一周后在“网银交费”页面可查看邮寄状态及快递单号。<br />
        <font color="red">三、2014年2月24日后不再每日邮寄一次，将改成每两周邮寄一次，整体邮寄工作截止到5月15日。</font></div>-->
        <div style="font-size: 32px;color: white;text-align: center"><strong>汽车商城管理系统</strong></div>
        <div class="dlk">
            <form id="loginFrom">
                <table width="292" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td height="76" colspan="3"></td>
                    </tr>
                    <tr>
                        <td width="65" style="font-size:14px;">用户账号</td>
                        <td colspan="2"><input id="username" type="text" name="username" class="dlinput" autofocus="autofocus"/></td>
                    </tr>
                    <tr>
                        <td height="16" colspan="3"></td>
                    </tr>
                    <tr>
                        <td>用户密码</td>
                        <td colspan="2"><input id="password" name="password" type="password" class="dlinput"/></td>
                    </tr>
                    <tr>
                        <td height="16" colspan="3"></td>
                    </tr>
                    <tr>
                        <td>验证码</td>
                        <td width="100"><input name="valid" type="text" class="dlinput" style="width:90px;"
                                               maxlength="4"/></td>
                        <td width="127"><img src="images/tp05_20140320.png" width="98" height="27"/></td>
                    </tr>
                    <tr>
                        <td height="16" colspan="3"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2"><input type="checkbox"/> <span
                                style="color:#FFFFFF;margin-left: 6px;">记住我</span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2"><input id="btn" type="button" value="登   录" class="loginbtn"/></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2">
                            <table width="224" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="24"><a href="#none" class="mm">忘记登录密码？</a></td>
                                    <!--<td align="right"><a href="#none" class="zc" style="font-size:13px;">立即网上注册</a></td>-->
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div class="footer">Copyright &copy; 2018 zzax.com All Rights Reserved　版权所有 郑州</div>
</body>
</html>
