<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>汽车商城-登录页面</title>
    <link href="css/login/style.css" th:href="@{/css/login/style.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery/jquery-3.0.0.min.js"
            th:src="@{/js/jquery/jquery-3.0.0.min.js}"></script>
    <script type="text/javascript" src="js/login/login.js" th:src="@{/js/login/login.js}"></script>
</head>
<body onkeydown="keyLogin();">
<div class="top">
    <!--  <ul>
        <li><a href="#none" class="hover">系统主页</a></li>
        <li><a href="#none">账号注册</a></li>
        <li><a href="#none">合格成绩公示</a></li>
        <li><a href="#none">报名流程</a></li>
        <li><a href="#none">常见问题</a></li>
        <li><a href="#none">返回首页</a></li>
      </ul>-->
</div>
<div class="main">
    <div class="denglu">
        <div style="font-size: 32px;color: white;text-align: center"><strong>汽车商城管理平台</strong></div>
        <div class="dlk">
            <form id="loginFrom">
                <table width="292" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td height="76" colspan="3"></td>
                    </tr>
                    <tr>
                        <td width="65" style="font-size:14px;">用户账号</td>
                        <td colspan="2"><input id="username" type="text" name="username" class="dlinput"
                                               autofocus="autofocus"/></td>
                    </tr>
                    <tr>
                        <td height="16" colspan="3"></td>
                    </tr>
                    <tr>
                        <td>用户密码</td>
                        <td colspan="2"><input id="password" name="password" type="password" class="dlinput"/></td>
                    </tr>
                    <tr>
                        <td height="16" colspan="3"></td>
                    </tr>
                    <tr>
                        <td>验证码</td>
                        <td width="100"><input name="valid" type="text" class="dlinput" style="width:90px;"
                                               maxlength="4"/></td>
                        <td width="127"><img src="images/tp05_20140320.png" width="98" height="27"/></td>
                    </tr>
                    <tr>
                        <td height="16" colspan="3"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2"><input type="checkbox"/> <span
                                style="color:#FFFFFF;margin-left: 6px;">记住我</span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2"><input id="btn" type="button" value="登   录" class="loginbtn"/></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2">
                            <table width="224" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="24"><a href="#none" class="mm">忘记登录密码？</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<div class="footer" th:include="fragments/footer :: footer"></div>
<script type="text/javascript">
    //回车时，默认是登陆
    function keyLogin(){
        if(window.event.keyCode == 13){
            if (document.getElementById('btn')!=null){
                document.getElementById('btn').click();
            }
        }
    }
</script>
</body>
</html>
