<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzax.mall.mapper.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.zzax.mall.domain.OrderDetail" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="SHOP_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ORDER_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="TITLE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IMAGE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="QUANTITY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UNIT_PRICE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="TOTAL_PRICE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SHOP_ID, ORDER_ID, TITLE, IMAGE, QUANTITY, UNIT_PRICE, TOTAL_PRICE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_orderdetail
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_orderdetail
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzax.mall.domain.OrderDetail" >
    insert into t_orderdetail (ID, SHOP_ID, ORDER_ID, 
      TITLE, IMAGE, QUANTITY, 
      UNIT_PRICE, TOTAL_PRICE)
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{quantity,jdbcType=VARCHAR}, 
      #{unitPrice,jdbcType=DECIMAL}, #{totalPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zzax.mall.domain.OrderDetail" >
    insert into t_orderdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="image != null" >
        IMAGE,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="unitPrice != null" >
        UNIT_PRICE,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzax.mall.domain.OrderDetail" >
    update t_orderdetail
    <set >
      <if test="shopId != null" >
        SHOP_ID = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        IMAGE = #{image,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        UNIT_PRICE = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzax.mall.domain.OrderDetail" >
    update t_orderdetail
    set SHOP_ID = #{shopId,jdbcType=INTEGER},
      ORDER_ID = #{orderId,jdbcType=INTEGER},
      TITLE = #{title,jdbcType=VARCHAR},
      IMAGE = #{image,jdbcType=VARCHAR},
      QUANTITY = #{quantity,jdbcType=VARCHAR},
      UNIT_PRICE = #{unitPrice,jdbcType=DECIMAL},
      TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>