<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzax.mall.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.zzax.mall.domain.Order">
    <constructor>
      <idArg column="ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="USER_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="BUYER_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PAY_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CREATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="TOTAL_PRICE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FARE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="MESSAGE" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, BUYER_ID, CODE, PAY_DATE, CREATE_DATE, TOTAL_PRICE, FARE, STATUS, MESSAGE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzax.mall.domain.Order">
    insert into t_order (ID, USER_ID, BUYER_ID, 
      CODE, PAY_DATE, CREATE_DATE, 
      TOTAL_PRICE, FARE, STATUS, 
      MESSAGE)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{buyerId,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{payDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{totalPrice,jdbcType=VARCHAR}, #{fare,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{message,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzax.mall.domain.Order">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="buyerId != null">
        BUYER_ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="payDate != null">
        PAY_DATE,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="totalPrice != null">
        TOTAL_PRICE,
      </if>
      <if test="fare != null">
        FARE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="message != null">
        MESSAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=VARCHAR},
      </if>
      <if test="fare != null">
        #{fare,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzax.mall.domain.Order">
    update t_order
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="buyerId != null">
        BUYER_ID = #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        PAY_DATE = #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="totalPrice != null">
        TOTAL_PRICE = #{totalPrice,jdbcType=VARCHAR},
      </if>
      <if test="fare != null">
        FARE = #{fare,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        MESSAGE = #{message,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzax.mall.domain.Order">
    update t_order
    set USER_ID = #{userId,jdbcType=INTEGER},
      BUYER_ID = #{buyerId,jdbcType=INTEGER},
      CODE = #{code,jdbcType=VARCHAR},
      PAY_DATE = #{payDate,jdbcType=TIMESTAMP},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      TOTAL_PRICE = #{totalPrice,jdbcType=VARCHAR},
      FARE = #{fare,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      MESSAGE = #{message,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>