<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>后台管理系统</title>
<link rel="stylesheet" href="/css/receipt/style.css"/>
<link rel="stylesheet" href="/css/receipt/jquery.wysiwyg.old-school.css"/>

<!-- jQuery AND jQueryUI -->
<script type="text/javascript" src="/js/jquery/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/receipt/min.js"></script>
<script type="text/javascript" src="/js/receipt/main.js"></script>
<link rel="stylesheet" href="/css/receipt/style2.css"/>
</head>

<style type="text/css">
	body{
		padding:0;
		margin:0;	
		overflow-y:hidden;
	}
	.main{
		height:100%;
		width:100%;
		position:absolute;
	}
	.top{
		width:100%;
		height:42px;
		position:absolute;
		top:0;
		z-index:102;
	}
	.bottom {
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		z-index:101;
	}
	.left{
		width:14.4%;
		height:100%;
		clear:both;
		float:left;
		position:absolute;
		top:0;
	}
	.right{
		width:100%;
		height:100%;
	}
</style>

<body>
	<div class="main">
		<div class="top">
			<div th:include="home/top"></div>
		</div>

		<div class="bottom">
			<div class="left">
				<div th:include="home/left"></div>
			</div>
			<div class="right">
				<div th:include="home/welcome"></div>
			</div>
		</div>
	</div>
</body>
</html>