<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>后台管理系统</title>
    <link rel="stylesheet" href="/css/receipt/style.css"/>
    <link rel="stylesheet" href="/css/receipt/style2.css"/>
    <link rel="stylesheet" href="/css/receipt/jquery.wysiwyg.old-school.css"/>

    <!-- jQuery AND jQueryUI -->
    <script type="text/javascript" src="/js/jquery/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/receipt/min.js"></script>
    <script type="text/javascript" src="/js/receipt/main.js"></script>

</head>
<body>
<!--    顶部   -->
<div id="head">
    <div class="left">
        <a class="button profile">
            <img th:src="@{/images/huser.png}" alt="头像"/>
        </a> 欢迎你 <a style="color: #0A93CC;font-size: 14px;">llynic</a>
    </div>
</div>

</body>
</html>

