<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<body>
<section layout:fragment="content">
    <div>
        <div>
            <!--标题-->
            <ol class="breadcrumb">
                <li class="active">添加商品</li>
            </ol>
        </div>
        <!--页面内容-->
        <div style="margin: 0 0 10px 0;">
            <label>请选择仓单:</label>
            <input id="inputReceiptNo" style="width: 200px;display: inline-block" type="text" class="form-control"
                   value="" th:value="${receipt.code}"/>
        </div>
        <!--信息内容-->
        <div>
            <div id="loading"></div>
            <div style="display: block">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <!--商品基本信息-->
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    <p style="margin: 0;">商品基本信息</p>
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <!--左边的信息列表-->
                                        <div style="width: 50%;margin-left: -25px;position:relative;">
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="price">商品价格:</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="price" type="text" value="125,000,12" th:value="${receipt.price}"/></dd>
                                            </div>
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="goodsName">商品名称:</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="goodsName" type="text" value="路虎SUV新款汽车" th:value="${goods.name}" disabled="disabled"/></dd>
                                            </div>
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="goodsKind">货物类型:</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="goodsKind" type="text" value="汽车" th:value="${goods.kind}" disabled="disabled"/></dd>
                                            </div>
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="goodsBrand">货物品牌:</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="goodsBrand" type="text" value="路虎" th:value="${goods.brand}" disabled="disabled"/></dd>
                                            </div>
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="goodsPack">货物包装:</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="goodsPack" type="text" value="木箱" th:value="${goods.pack}" disabled="disabled"/></dd>
                                            </div>
                                            <div>
                                                <dt><label style="margin:10px 0 0 0" for="goodsModel">货物型号:</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="goodsModel" type="text" value="型号" th:value="${goods.model}" disabled="disabled"/></dd>
                                            </div>
                                        </div>
                                        <!--右侧信息展示-->
                                        <div style="margin-top: -253px;width: 50%;float: right;left:46%;bottom:15px">
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="producer">生产厂家:</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="producer" type="text" value="路虎汽车公司" th:value="${goods.producer}" disabled="disabled"/></dd>
                                            </div>
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="producerArea">产地:</label>
                                                </dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="producerArea" type="text" value="中国河南" th:value="${goods.producerArea}" disabled="disabled"/></dd>
                                            </div>
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="producerDate">生产日期:</label>
                                                </dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="producerDate" type="text" value="2018-01-01" th:value="${#dates.format(goods.producerDate,'yyyy-MM-dd')}" disabled="disabled"/></dd>
                                            </div>
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="goodsQuantity">货物数量:</label>
                                                </dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="goodsQuantity" type="text" value="1" th:value="${goods.quantity}" disabled="disabled"/></dd>
                                            </div>
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="goodsUnit">货物单位:</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="goodsUnit" type="text" value="辆" th:value="${goods.unit}" disabled="disabled"/></dd>
                                            </div>
                                            <div>
                                                <dt><label style="margin:10px 0 0 0" for="goodsWeight">货物重量(吨):</label>
                                                </dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="goodsWeight" type="text" value="1.2" th:value="${goods.weight}" disabled="disabled"/></dd>
                                            </div>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--车身信息-->
                    <div th:object="${result}">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    <p style="margin: 0;">车身信息</p>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <!--左边的信息列表-->
                                        <div style="width: 50%;margin-left: -25px;position:relative;">
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="carLength">车身总长度:</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="carLength" type="text" value="5,000" disabled="disabled"/></dd>
                                            </div>
                                        </div>
                                        <!--右侧信息展示-->
                                        <div style="margin-top: -44px;width: 50%;float: right;left:46%;bottom:15px">
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="wheelBase">轴距:</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="wheelBase" type="text" value="2,922" disabled="disabled"/>
                                                </dd>
                                            </div>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--车高与车宽-->
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                                   aria-expanded="true" aria-controls="collapseThree">
                                    <p style="margin: 0;">车高与车宽</p>
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <!--左边的信息列表-->
                                        <div style="width: 50%;margin-left: -25px;position:relative;">
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="carHeight">高度:</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="carHeight" type="text" value="1,861" disabled="disabled"/></dd>
                                            </div>
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="frontWheelTrack">前轮轮距(mm):</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="frontWheelTrack" type="text" value="1,692" disabled="disabled"/></dd>
                                            </div>

                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="rearWheelTrack">后轮轮距(mm):</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="rearWheelTrack" type="text" value="1,685" disabled="disabled"/></dd>
                                            </div>
                                        </div>
                                        <!--右侧信息展示-->
                                        <div style="margin-top: -132px;width: 50%;float: right;left:46%;bottom:15px">
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="widthFold">宽度 - 外后视镜折叠(mm)</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="widthFold" type="text" value="2,073" disabled="disabled"/></dd>
                                            </div>
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="widthUnFold">宽度 - 外后视镜展开(mm):</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="widthUnFold" type="text" value="2,220" disabled="disabled"/></dd>
                                            </div>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--发动机-->
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                                   aria-expanded="true" aria-controls="collapseFour">
                                    <p style="margin: 0;">发动机</p>
                                </a>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <!--左边的信息列表-->
                                        <div style="width: 50%;margin-left: -25px;position:relative;">
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="engineModel">型号:</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="engineModel" type="text" value="3.0L V6 机械增压汽油发动机 (340PS)" disabled="disabled"/></dd>
                                            </div>
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="maxPower">最大功率(PS):</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="maxPower" type="text" value="340" disabled="disabled"/></dd>
                                            </div>
                                        </div>
                                        <!--右侧信息展示-->
                                        <div style="margin-top: -88px;width: 50%;float: right;left:46%;bottom:15px">
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="displacement">排量(cc):</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="displacement" type="text" value="2,995" disabled="disabled"/></dd>
                                            </div>
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="maxTorque">最大扭矩(Nm):</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="maxTorque" type="text" value="450" disabled="disabled"/></dd>
                                            </div>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--性能-->
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                                   aria-expanded="true" aria-controls="collapseFive">
                                    <p style="margin: 0;">性能</p>
                                </a>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <!--左边的信息列表-->
                                        <div style="width: 50%;margin-left: -25px;position:relative;">
                                            <div style=" margin-bottom: 10px;">
                                                <dt><label style="margin:10px 0 0 0" for="maxSpeed">最高时速(公里/小时):</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="maxSpeed" type="text" value="209" disabled="disabled"/></dd>
                                            </div>
                                        </div>
                                        <!--右侧信息展示-->
                                        <div style="margin-top: -44px;width: 50%;float: right;left:46%;bottom:15px">
                                            <div style=" margin-bottom: 10px;">
                                                <dt style="width: 173px;padding-right: 10px"><label style="margin:10px 0 0 0" for="acceleration">0-100公里/小时加速时间(秒):</label></dt>
                                                <dd><input style="width: 70% ;" class="form-control" id="acceleration" type="text" value="7.4" disabled="disabled"/></dd>
                                            </div>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--添加商品图片-->
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <a style="display: inline-block" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseSix"
                                   aria-expanded="true" aria-controls="collapseSix">
                                    <p style="margin: 0;">添加商品图片</p>
                                </a>
                                <span style="margin-left: 100px;color: #8e8e93">您可以添加5张图片对商品进行描述</span>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingSix">
                                <div style="height: 100px" class="panel-body">
                                    <div>
                                        <button style="height: 80px;width: 80px" type="button" class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                        <button style="height: 80px;width: 80px" type="button" class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                        <button style="height: 80px;width: 80px" type="button" class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                        <button style="height: 80px;width: 80px" type="button" class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                        <button style="height: 80px;width: 80px" type="button" class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin:20px auto 40px;width: 300px;height: 34px;">
                    <button style="margin-left: 14%;width:60px" class="btn btn-default" type="button" onclick="">保存</button>
                    <button style="margin-left: 35%;width:60px" class="btn btn-default" type="button" onclick="">上架</button>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div style="width: 50%" class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">请选择仓单</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <table id="table"></table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="modalSave">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/shop/shop.js}"></script>
    </div>
</section>
</body>
</html>