<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<body>
<section layout:fragment="content">
    <div>
        <ol class="breadcrumb">
            <li class="active">我的商品</li>
        </ol>
        <div>
            <a class="btn btn-default" style="text-decoration:none;" href="#" role="button" th:href="@{#}">所有商品</a>
            <a class="btn btn-default" style="text-decoration:none;" href="#" role="button" th:href="@{#}">未上架</a>
            <a class="btn btn-default" style="text-decoration:none;" href="#" role="button" th:href="@{#}">已上架</a>
            <a class="btn btn-default" style="text-decoration:none;" href="#" role="button" th:href="@{#}">交易中</a>
        </div>

        <div>
            <input class="form-control" style="width: 300px;display: inline-block" type="text" value=""
                   placeholder="输入商品标题或者订单号进行搜索"/>
            <a class="btn btn-default" style="text-decoration:none;" href="#" role="button" th:href="@{#}">订单搜索</a>
        </div>

        <!--标题-->
        <div style="padding-top: 10px">
            <div class="panel panel-default">
                <div class="panel-heading" style="height: 40px">
                    <table>
                        <tbody style="background-color: #f5f5f5;">
                        <tr>
                            <th class="col-lg-4" style="text-align: center">商品</th>
                            <th class="col-lg-1" style="text-align: center">单价</th>
                            <th class="col-lg-1" style="text-align: center">数量</th>
                            <th class="col-lg-1" style="text-align: center">商品操作</th>
                            <th class="col-lg-1" style="text-align: center">实付款</th>
                            <th class="col-lg-1" style="text-align: center">商品状态</th>
                            <th class="col-lg-1" style="text-align: center">交易操作</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--分割线-->
        <div style="height: 6px;background-color: #ffffff"></div>
        <tr th:each="shop,shopStat : ${shops}">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding: 0px 15px;">
                    <table>
                        <tbody style="background-color: #f5f5f5;">
                        <tr>
                            <th class="col-lg-4" style="height: 36px;">
                                <label style="margin: 0px 10px 0px -11px;" th:text="${#dates.format(shop.createDate,'yyyy-MM-dd')}">商品创建日期</label>
                                <strong>商品编号:<span th:text="${shop.code}"> 商品编号</span></strong>
                                <input type="hidden" value="" th:value="${shop.id}"/>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-body" style="padding: 0px;">
                    <table class="table-hover">
                        <tbody>
                        <tr>
                            <td class="col-lg-4">
                                <div>
                                    <div style="width: 80px;height: 80px;position:relative;margin: 15px 5px;">
                                        <img src="/images/car/luhu2.png" alt="路虎" th:src="@{${shop.image}}"/>
                                    </div>
                                    <div style="width: 300px;height: 50px;position:absolute;left:110px;bottom:45px">
                                        <span th:text="${shop.title}">商品名称</span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-lg-1" style="text-align: center">
                                <div>
                                    <p style="text-decoration: line-through;" th:text="${shop.price}">商品原价</p>
                                    <p th:text="${shop.price}">商品折后价</p>
                                </div>
                            </td>
                            <td class="col-lg-1" style="text-align: center">
                                <div>
                                    <p th:text="${shop.quantity}">商品数量</p>
                                </div>
                            </td>
                            <td class="col-lg-1" style="text-align: center">
                                <div>
                                    <a href="javascript:void(0);" th:onclick="'javascript:shelf(\''+${shop.id}+'\');'"><p th:if="${shop.status == '0'}">上架</p></a>
                                    <a href="javascript:void(0);"><p th:if="${shop.status == '1'}">下架</p></a>
                                </div>
                            </td>
                            <td class="col-lg-1" style="text-align: center">
                                <div>
                                    <div></div>
                                    <p th:text="${shop.price}">实付款</p>
                                    <div></div>
                                </div>
                            </td>
                            <td class="col-lg-1" style="text-align: center">
                                <div>
                                    <p th:if="${shop.status == '0'}">未上架</p>
                                    <p th:if="${shop.status == '1'}">已上架</p>
                                    <p th:if="${shop.status == '2'}">交易中</p>
                                    <div style="margin-top: 5px">
                                        <a href="#" th:href="@{/shop/detail}">
                                            <p>商品详情</p>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="col-lg-1" style="text-align: center">
                                <div>
                                    <p></p>
                                    <p></p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tr>
    </div>
    <aside class="mask works-mask">
        <div class="mask-content">
            <p class="del-p">您确定上架此商品吗？</p>
            <p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
        </div>
    </aside>

    <!--<div class="modal fade bs-example-modal-sm" id="alert-shelf" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">提示:</h4>
                </div>
                <div class="modal-body">
                    <p>您确定要上架此商品吗?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="modalSave">确定</button>
                </div>
            </div>
        </div>
    </div>-->
    <script type="text/javascript" th:src="@{/js/shop/list.js}"></script>
    <script type="text/javascript">
        var id;
        function shelf(obj) {
            $(".works-mask").show();
            id = obj;
        }

        $(".wsdel-ok").click(function(){
            $(".works-mask").hide();

            $.ajax({
                url:'/shop/shelf',
                type:'POST',
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                data: {
                    "id":id
                },
                success:function (result) {
                    window.location.href="/shop/list";
                    console.log(result.data);
                    alert("商品上架成功");

                },
                error : function() {
                    alert("商品上架失败");
                }
            })
        });

        $(".wsdel-no").click(function(){
            $(".works-mask").hide();
        });
    </script>
</section>
</body>
</html>