<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body style="font-size: 12px;">
<section th:include="layout :: navbar"></section>
<div id="content">
    <span>商品管理>我的商品</span>
    <div>
        <a class="btn btn-default" style="text-decoration:none;" href="#" role="button" th:href="@{#}">所有商品</a>
        <a class="btn btn-default" style="text-decoration:none;" href="#" role="button" th:href="@{#}">未上架</a>
        <a class="btn btn-default" style="text-decoration:none;" href="#" role="button" th:href="@{#}">已上架</a>
        <a class="btn btn-default" style="text-decoration:none;" href="#" role="button" th:href="@{#}">交易中</a>
    </div>
    <div>
        <input class="search" type="text" value="" placeholder="输入商品标题或者订单号进行搜索"/>
        <a class="btn btn-default" style="text-decoration:none;" href="#" role="button" th:href="@{#}">订单搜索</a>
    </div>
    <div>

    </div>

</div>
</body>

</html>